* {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  background-color: #eee;
  font-size: 100%;
}

body {
  margin: 4em 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  font: inherit;
}