.gallery {
  overflow: hidden;
  height: 480px;
  position: relative;
  width: 100%;
}

  .gallery-inner {
    list-style: none;
    margin: 0;
    position: absolute;
    // transition: all 500ms;
    > * {
      float: left;
    }
  }

  .gallery-control {
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 1;
    > span {
      display: none;
    }
    &.gallery-prev {
      left: 2em;
      &:after {
        content: '\2190';
      }
    }
    &.gallery-next {
      right: 2em;
      &:after {
        content: '\2192';
      }
    }
  }