@mixin resp-max($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

.gallery {
  overflow: hidden;
  height: 480px;
  position: relative;
  width: 100%;
}

  .gallery-inner {
    list-style: none;
    margin: 0;
    position: absolute;
    z-index: 100;
    > * {
      float: left;
      margin-right: 1em;
      @include resp-max(777px) {
        width: 208px;
      }
    }
  }

  .gallery-control {
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 200;
    > span {
      display: none;
    }
    &.gallery-prev {
      left: 1em;
      &:after {
        content: '\2190';
      }
    }
    &.gallery-next {
      right: 1em;
      &:after {
        content: '\2192';
      }
    }
  }